@()(implicit req: RequestHeader)

@main("AWS")("Cloud computing with AWS"){
<p>Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud platform, offering over 175 fully featured services from data centers globally. </p>
}{
@defining(play.core.PlayVersion.current) { version =>
<section id="content">
    <div class="wrapper doc">
        <article>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="aws-intro-tab" data-toggle="tab" href="#aws-intro" role="tab" aria-controls="aws-intro" aria-selected="true">
                        Introduction
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aws-vpc-tab" data-toggle="tab" href="#aws-vpc" role="tab" aria-controls="aws-vpc" aria-selected="true">
                        Infrastructure
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aws-s3-tab" data-toggle="tab" href="#aws-s3" role="tab" aria-controls="aws-s3" aria-selected="true">
                        S3
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aws-emr-tab" data-toggle="tab" href="#aws-emr" role="tab" aria-controls="aws-emr" aria-selected="true">
                        EMR
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aws-kinesis-tab" data-toggle="tab" href="#aws-kinesis" role="tab" aria-controls="aws-kinesis" aria-selected="true">
                        Kinesis
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="aws-intro" role="tabpanel" aria-labelledby="aws-intro-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <blockquote class="blockquote">
                                <p class="mb-0">AWS infrastructure: https://www.infrastructure.aws</p>
                            </blockquote>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vTekiS2wKxH3A4NY4F3sDwq4m16PnYiqOwHS7MtMW8mds-Q502968ttnMd0hQXKXYuKUhocvZdIvSHc/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="An introduction to Cloud Computing"></iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <p> </p>
                            <h4>How to use AWS educate</h4>

                            <p>A classroom is created on
                                <a href="https://aws.amazon.com/education/awseducate/">AWS educate</a> is created
                                and an invitation is sent to your email address. Follow the steps to create an account
                                and enroll to the class.
                            </p>

                            <p>
                                Everytime that you need to practice and execute labs, just follow these steps
                            </p>
                            <h3>Go to your classroom</h3>
                            <p>
                                Once logged in, on top menu bar click on <strong><mark>myClassroom</mark></strong>.
                            </p>
                            <p><img class="mr-3" src='@routes.Assets.versioned("images/aws-educate-1.png")'
                                    width="650" height="412" alt="AWS Educate home page"></p>
                            <p>
                                Find the class you enrolled and click on the blue button of
                                <strong><mark>Go to classroom</mark></strong>
                            </p>
                            <p><img class="mr-3" src='@routes.Assets.versioned("images/aws-educate-2.png")'
                                    width="650" height="412" alt="AWS Educate classroom list"></p>
                            <h3>Go to your AWS console</h3>
                            <p>
                                Once in the class room, click on <strong><mark>AWS Console</mark></strong> to go to
                                the AWS console. Bear in mind that it is not your AWS account and could have some
                                limitations.
                            </p>
                            <p><img class="mr-3" src='@routes.Assets.versioned("images/aws-educate-3.png")'
                                    width="650" height="412" alt="AWS educate classrooms"></p>
                        </div></div>
                    </div>
                </div>
                <div class="tab-pane" id="aws-vpc" role="tabpanel" aria-labelledby="aws-vpc-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vQFLrjYJyXy9gP5__-8waIXWNO2LQuxtH1Y9bVJG8T8RUKix_X8CPc0ifostkkg1EUEPUhcMg--R8Nm/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Deploy infrastructure"></iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vRB-g_0byX0IHunGrFIkMUOrwEiIXdbyZRm5TpVZijB1bCF_BI9BGpE-_zuWkPGUTkPpeDBaYo4luzh/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Deploy infrastructure"></iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h4>Connect to a private subnet</h4>
                            <p>
                                Here we have an architecture of a two-tier application in which there is a public
                                subnet with an instance running your web server which also has a public IP and a private
                                subnet with an instance running your DB server and is not reachable from outside.
                                <img src='@routes.Assets.versioned("images/private-public-subnets.png")'
                                     width="650" height="412" alt="Private and Pubic subnets" />
                            </p>
                            <p>
                                To connect to the instances in the private subnets, we use a special instance called
                                <mark>bastion host</mark>. To more about them, refer to
                                <a href="https://aws.amazon.com/quickstart/architecture/linux-bastion/">AWS documentation</a>.
                            </p>
                            <p>
                                Here we take a simpler approach and we use the WS instance which is publicly accessible
                                as a "bastion host" to connect to the DB instance.
                                In order to connect to the DB instance in the private subnet,
                            </p>
                            <ol>
                                <li>Copy the private key associated to the DB instance to WS instance</li>
                                <li>Connect to the WS instance</li>
                                <li>From the WS instance, connect to the DB instance</li>
                            </ol>
                            <p>Assume that</p>
                            <ul>
                                <li>both machines are running Ubuntu instances</li>
                                <li>the private key associated to WS instance is called <code>ws-private-key.pem</code></li>
                                <li>the private key associated to DB instance is called <code>db-private-key.pem</code></li>
                            </ul>
                            <pre><code>
                                local-user&#64;local-machine:~$ scp -i /path/to/ws-private-key.pem /path/to/db-private-key.pem ubuntu&#64;ws-ip:/home/ubuntu/
                                local-user&#64;local-machine:~$ ssh -i /path/to/ws-private-key.pem ubuntu&#64;ws-ip
                                ubuntu&#64;ws-ip:~$ ssh -i /home/ubuntu/db-private-key.pem ubuntu&#64;db-ip
                                ubuntu&#64;db-ip:~$
                            </code></pre>
                        </div></div>
                    </div>
                </div>
                <div class="tab-pane" id="aws-s3" role="tabpanel" aria-labelledby="aws-s3-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vTWsrLCxgzOEA2TPadPeRXcpXfgMSTL6f8f8aBh3FLlL2E0ap0Z4jxMtFOnjbu10rv0rLpYbHWJeqVn/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Deploy infrastructure"></iframe>
                        </div></div>
                    </div>
                </div>
                <div class="tab-pane" id="aws-emr" role="tabpanel" aria-labelledby="aws-emr-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vQSJe5wdf1i-rRTGmaUEJ_zRlJZfCHwHMY7QABwqnttf5iCtJ3Vpa815pm9t3sfKXIgB0Wue7dy-iO3/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="EMR"></iframe>
                        </div></div>
                    </div>
                </div>
                <div class="tab-pane" id="aws-kinesis" role="tabpanel" aria-labelledby="aws-kinesis-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQC6BRrgmd-2N-LJD5TenuzHW7nwtmBRSCXxy1ostPlnhpAW0f8JBXgjLULQzaTKf6mrUd5mJ8a_69u/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Kinesis"></iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h3>A tutorial on AWS Kinesis Firehose delivery stream</h3>
                            <p>
                                In this tutorial, we're trying to implement a data ingestion stream using an EC2
                                instance as the source producing messages using AWS Kinesis agent and a S3 bucket as
                                the destination.
                            </p>
                            <p>
                                The architecture of the implementation is drawn in the following diagram:
                                <img src='@routes.Assets.versioned("images/aws-firehose-tutorial.png")'
                                     width="650" height="650" alt="Kinesis Firehose tutorial diagram" />
                            </p>
                            <iframe
                                    src="https://www.youtube.com/embed/pxd1SZXFiZ0"
                                    frameborder="0" width="960" height="569"
                                    allow="fullscreen;accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    title="Kinesis Firehose tutorial"></iframe>
                            <p>
                                Here are links to the material used in this tutorial:
                            </p>
                            <ul>
                                <li><a href="https://docs.aws.amazon.com/firehose/latest/dev/writing-with-agents.html">AWS documentation</a>
                                    on how to install Kinesis agent. Make sure that you replace amzn2 with amzn1
                                </li>
                                <li><a href="https://docs.aws.amazon.com/general/latest/gr/ak.html">Kinesis endpoints</a> </li>
                            </ul>
                            <p>
                                And here is the configuration put in <code>/etc/aws-kinesis/agent.json</code>
                            </p>
                            <pre><code>
                                {
                                    "firehose.endpoint": "https://kinesis.us-east-2.amazonaws.com",
                                    "flows": [
                                        {
                                            "filePattern": "/tmp/stop_times.csv",
                                            "deliveryStream": "kinesis-demo-fh-stream"
                                        }
                                    ]
                                }
                            </code></pre>
                            <p>
                                and here is the commands to prepare data for Kinesis agent
                            </p>
                            <pre><code>
                                curl -o gtfs_stm.zip http://www.stm.info/sites/default/files/gtfs/gtfs_stm.zip
                                unzip gtfs_stm.zip
                                head -n 10 stop_times.txt
                                sed '1d' stop_times.txt > stop_times_without_header.csv
                                touch /tmp/stop_times.csv
                                head -n 10 stop_times_without_header.csv >> /tmp/stop_times.csv
                            </code></pre>
                        </div></div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

}
}