@()(implicit req: RequestHeader)

@main("Hadoop")("Hadoop Framework"){
<p>Distributed framework for massive data processing</p>
}{
@defining(play.core.PlayVersion.current) { version =>
<section id="content">
    <div class="wrapper doc">
        <article>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="hadoop-tab" data-toggle="tab" href="#hadoop" role="tab" aria-controls="hadoop" aria-selected="true">
                        Hadoop
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hdfs-tab" data-toggle="tab" href="#hdfs" role="tab" aria-controls="hdfs" aria-selected="false">
                        HDFS
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="hadoop" role="tabpanel" aria-labelledby="hadoop-tab">
                    <div class="container"><div class="row"><div class="col-sm">
                        <iframe
                                src="https://docs.google.com/presentation/d/e/2PACX-1vSGzX5-zAmPVkNRY6pIQ3B08AtQo6eTMzfwqHzghOLTLEBCuTwHRLX7KswWYYmKYqlw91eYmAxNvmWd/embed?start=false&loop=false&delayms=3000"
                                frameborder="0" width="960" height="569" allow="fullscreen"
                                mozallowfullscreen="true" webkitallowfullscreen="true" title="Hadoop framework">
                        </iframe>
                    </div></div></div>
                </div>
                <div class="tab-pane fade" id="hdfs" role="tabpanel" aria-labelledby="hdfs-tab">
                    <div class="container"><div class="row"><div class="col-sm">
                        <iframe
                                src="https://docs.google.com/presentation/d/e/2PACX-1vQX92imQICP2NKE2Fi7hHV38ul7Bz6OaX5hQNGUcYBY6CuMUUj0icBXL2uRDtHfF_11XkwaV-C2BKY0/embed?start=false&loop=false&delayms=3000"
                                frameborder="0" width="960" height="569" allow="fullscreen"
                                mozallowfullscreen="true" webkitallowfullscreen="true" title="HDFS">
                        </iframe>
                    </div></div></div>
                </div>
            </div>
        </article>
    </div>
</section>

}
}