@(message: String)(implicit req: RequestHeader)

@main("Data Engineering Tools")("Data Engineering Tools"){
<p>A site to share contents, tutorials and online tools that I use in my day-to-day tasks as a data engineer.</p>
}{
@defining(play.core.PlayVersion.current) { version =>
@message
<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Welcome to my tutorial pages!</h2>
      <p>In this website, you will find contents, tutorials and online tools that I use in my day-to-day tasks
        as a data engineer.</p>
      <p>The primary reason of this site is to publish tools that helps me to understand, practice, or even
        develop proof of concepts for my projects. There would be small tutorials and links to sources if you'd like
        to learn more.</p>
      </article>
    <article>
      <div class="container">
        <div class="row"><div class="col-sm"><h3>Application</h3></div> </div>
        <div class="row">
          <div class="col-sm">
            <a href="/kafka" style="text-decoration: none">
            <div class="media">
              <img class="mr-3" src='@routes.Assets.versioned("images/kafka.png")' alt="Kafka">
              <div class="media-body">
                <h5 class="mt-0">Kafka and Schema Registry</h5>
                A messaging system based on pub/sub architecture perfectly designed for streaming and message passing.
              </div>
            </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <a href="/spark" style="text-decoration: none">
            <div class="media">
              <img class="mr-3" src='@routes.Assets.versioned("images/spark.png")' alt="Kafka" width="70" height="70">
              <div class="media-body">
                <h5 class="mt-0">Spark</h5>
                Spark is a unified distributed data processing platform.
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </article>
  </div>

</section>

}
}
