@()(implicit req: RequestHeader)

@main("Introduction")("Introduction") {
    <p>Introduction to Data Science, Data Engineering, and Business Intelligence</p>
} {
    @defining(play.core.PlayVersion.current) { version =>
        <section id="content">
            <div class="wrapper doc">
                <article>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="hadoop-tab" data-toggle="tab" href="#ds" role="tab" aria-controls="ds" aria-selected="true">
                                Data Science
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="hdfs-tab" data-toggle="tab" href="#de" role="tab" aria-controls="de" aria-selected="false">
                                Data Engineering
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="hdfs-tab" data-toggle="tab" href="#bi" role="tab" aria-controls="bi" aria-selected="false">
                                Business Intelligence
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="ds" role="tabpanel" aria-labelledby="ds-tab">
                            <div class="container">
                                <div class="row"><div class="col-sm">
                                    <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vREudkVR1P88y-43O0szyAwkKt6S7jy_daoGqVwYLm27AbV5f_pDKJ7IStVPTgm4ufCQj05GLttLL51/embed?start=false&loop=false&delayms=3000"
                                    width="960" height="569" allow="fullscreen" title="Introduction to Data Science"></iframe>
                                </div></div>
                                <div class="row"><div class="col-sm">
                                    <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vRBWjUEeA2nRZVtinO9BtsxeH9iLiYHWsrNlo9oKms0wqqgMB2mzZIAUie9jHILw5o45c15GROCaPAH/embed?start=false&loop=false&delayms=3000"
                                    width="960" height="569" allow="fullscreen" title="Descriptive Statistics"></iframe>
                                </div></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="de" role="tabpanel" aria-labelledby="de-tab">
                            <div class="container">
                                <div class="row"><div class="col-sm">
                                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSRNwB64o428L580cFrR6lBubR9WP0SGlnVEscQBzUgD023uQHqavzr5utU6oCjehiGFuIRmV8wgoKu/embed?start=false&loop=false&delayms=3000"
                                    width="960" height="569" allow="fullscreen" title="Introduction to Data Engineering"></iframe>
                                </div></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bi" role="tabpanel" aria-labelledby="bi-tab">
                            <div class="container">
                                <div class="row"><div class="col-sm">
                                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ62QgZNnCwN-7WbuOFHeuftYhgia0w1zmKwsrVlI_9Sm1CrAizJWwHjsEGD4GaY8cNs6laAZ-unkwu/embed?start=false&loop=false&delayms=3000"
                                    width="960" height="569" allow="fullscreen" title="Introduction to Business Intelligence"></iframe>
                                </div></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

    }
}