@()(implicit req: RequestHeader)

@main("JSON editor")("JSON editor"){
<p>A tool to edit and view JSON online</p>
} {
<section class="wrapper">
    <div class="inner">
        <div class="container">
            <div class="row" style="height: 500px;">
                <div class="col-12 left-editor" id="json-input"></div>
            </div>
        </div>
    </div>
</section>
<!-- Ace JSON editor -->
<script src='@routes.Assets.versioned("javascripts/ace/ace.js")' type="text/javascript" charset="utf-8"></script>
<script language="JavaScript">
    var inputEditor = ace.edit("json-input");
    inputEditor.session.setMode("ace/mode/json");
</script>
}
