@()(implicit req: RequestHeader)

@main("Kafka and Schema Registry")("Kafka and Schema Registry"){
<p>A distributed streaming platform to build reliable and scalable data streaming applications.</p>
}{
@defining(play.core.PlayVersion.current) { version =>
<section id="content">
    <div class="wrapper doc">
        <article>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="kafka-1-tab" data-toggle="tab" href="#kafka-1" role="tab" aria-controls="kafka-1" aria-selected="true">
                        Kafka 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="kafka-2-tab" data-toggle="tab" href="#kafka-2" role="tab" aria-controls="kafka-2" aria-selected="false">
                        Kafka 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="schema-registry-tab" data-toggle="tab" href="#schema-registry" role="tab" aria-controls="schema-registry" aria-selected="false">
                        Schema Registry
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="kafka-1" role="tabpanel" aria-labelledby="kafka-1-tab">
                    <div class="container"><div class="row"><div class="col-sm">
                        <iframe
                                src="https://docs.google.com/presentation/d/e/2PACX-1vS3TVL_BGr8IbNtjvWQ5bz8g6Qg6irmeyL4pyCiSYlW2o_3amjnwZesDG_CkT0ENMCsZ1o6kXFBCdgu/embed?start=false&loop=false&delayms=3000"
                                frameborder="0" width="960" height="569" allow="fullscreen"
                                mozallowfullscreen="true" webkitallowfullscreen="true" title="Kafka - session 1">
                        </iframe>
                    </div></div></div>
                </div>
                <div class="tab-pane fade" id="kafka-2" role="tabpanel" aria-labelledby="kafka-2-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vTeSD-NVRZnyIJN3Dv4LFoOVDQW_Y6Yx9lIEZqLVae9LTSRkoXsAYQdGRjp53SJptn6mR6qL40LgdQs/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Kafka - session 2">
                            </iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h3>Tutorial</h3>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h4>Get Kafka up and running</h4>
                            <p>You can start a single Kafka broker using either of the following distributions</p>
                            <ul>
                                <li>Apache Kafka</li>
                                <li>
                                    Confluent Kafka (refer to
                                    <a href="https://docs.confluent.io/3.1.1/installation.html">Confluent web site</a>).
                                    You can even use docker images or use docker-compose using the variety of options
                                    provided on <a href="https://github.com/confluentinc/cp-all-in-one">confluentinc/cp-all-in-one</a>
                                    GitHub repository.
                                </li>
                            </ul>
                            In order to install Apache Kafka

                            <h5>Step 1: download</h5>
                            Download a version from <a href="https://kafka.apache.org/downloads">Apache Kafka</a> page
                            and un-tar it.
                            For example, for version 2.11
<pre><code>
tar -xf kafka_2.11-2.0.0.tgz .
cd kafka_2.11-2.0.0
</code></pre>

                            <h5>Step 2: Start Zookeeper</h5>
                            We know that Kafka depends on Zookeeper. If you already have a Zookeeper instance up and
                            running, you can skip this step. Make sure you provide the running Zookeeper quorum in
                            <strong>config/zookeeper.properties</strong> file.
<pre><code>
./bin/zookeeper-server-start.sh config/zookeeper.properties
</code></pre>

                            <h5>Step 3: Start Kafka</h5>
<pre><code>
./bin/kafka-server-start.sh config/server.properties
</code></pre>

                            To facilitate running commands, add the <code>bin</code> directory to your <code>$PATH</code>.
<pre><code>
export PATH=$PATH:$KAFKA_HOME/bin
</code></pre>
                            <p></p>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <p></p>
                            <h4>Kafka Command Line (basics)</h4>
                            <p>To start working with Kafka command line tools, here are a set of commands.</p>
                            <p>
                                <script src="https://gist.github.com/irajhedayati/52686f745893e7439ca06653c2daa758.js"></script>
                            </p>
                        </div> </div>
                        <div class="row"><div class="col-sm">
                            <p></p>
                            <h4>Kafka Topics Tutorial</h4>
                            <iframe
                                    width="960" height="569" src="https://www.youtube.com/embed/jaPDDpyyhRk"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen title="Kafka topics video tutorial"></iframe>
                            <p></p>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h4>Kafka consumer and producer Tutorial</h4>
                            <p>
                            Source code on <a href="https://github.com/irajhedayati/mcit/tree/master/kafka-client" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">GitHub</a>
                            </p>
                            <iframe
                                    width="960" height="569" src="https://www.youtube.com/embed/OPTMje7wKmU"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen title="Kafka consumer and producer tutorial"></iframe>
                            <p></p>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <h4>Multi-broker setup and ISR</h4>
                            <p>
                                Let's start a Kafka cluster with multiple brokers. Use the following docker-compose file
                                to run your cluster by running <code>docker-compose up</code> (assuming you have installed
                                Docker and docker-compose).
                            </p>
                            <p>
                                Note that as we are running three dockers on the same host and also the limitations on brokers and
                                <a href="https://www.confluent.io/blog/kafka-listeners-explained/">listeners and advertised listeners</a>
                                we are using different ports for each broker (i.e. 9092, 9093, and 9094). Keep in mind
                                that in real deployments, these ports stay the same.
                            <img class="mr-3" src='@routes.Assets.versioned("images/multi-broker-cluster.png")'
                                 width="650" height="412" alt="Multi-broker Kafka setup in docker-compose"></p>
                            <script src="https://gist.github.com/irajhedayati/90602da2e63c9121e32ca020507e7f28.js"></script>
                            <p>
                                To complete your tutorial, first create a topic. This time, we use replication factor 3
                                as we have 3 brokers available.
                            </p>
<pre><code>
    kafka-topics --bootstrap-server localhost:9092 --create --replication-factor 1 --partitions 3 --topic test2
    kafka-topics --bootstrap-server localhost:9092 --describe --topic test2
</code></pre>
                            <img class="mr-3" src='@routes.Assets.versioned("images/isr1.png")'
                                 width="1024" height="300" alt="Distribution of brokers and partitions">
                            <p>Let's produce some messages</p>
<pre><code>
kafka-console-producer --broker-list localhost:9092 --topic test2
>first message
>second message
>third message
</code></pre>
                            <p>And then consume</p>
<pre><code>
kafka-console-consumer --bootstrap-server localhost:9092 --topic test2 --from-beginning
second message
third message
first message
</code></pre>
                            <p>There are 3 messages in this topic. Because we used the console producer, it doesn't
                            use any key for the messages and by design uses the round-robin method. Hence, each partition
                            has only one message. Let's see the message in partition 2</p>
<pre><code>
kafka-console-consumer --bootstrap-server localhost:9092 --topic test2 --from-beginning --partition 2
first message
</code></pre>
                            <p>It is <code>first message</code>. As we saw earlier, <strong>broker1</strong> is the leader
                            for this partition. Let's stop this broker using <code>docker stop broker1</code>.
                            Now describe the topic again</p>
<pre><code>
kafka-topics --bootstrap-server localhost:9092 --describe --topic test2
Topic:test2	PartitionCount:3	ReplicationFactor:3	Configs:
	Topic: test2	Partition: 0	Leader: 2	Replicas: 2,3,1	Isr: 2,3
	Topic: test2	Partition: 1	Leader: 3	Replicas: 3,1,2	Isr: 3,2
	Topic: test2	Partition: 2	Leader: 3	Replicas: 1,2,3	Isr: 3,2
</code></pre>
                            <p>As you can see, </p>
                            <ul>
                                <li>The replica list is still <strong>1,2,3</strong> hoping that broker 1 recovers</li>
                                <li>There was a leader election between broker 2 and 3 and broker 3 became the leader.</li>
                                <li>In all the partitions, <strong>Isr</strong> is changed by removing broker 1</li>
                            </ul>
                            <p>If you try and consume the topic again, you will see that all the messages including
                            <code>first message</code> are still available and it is the power of failure recovery and
                            replication</p>
<pre><code>
kafka-console-consumer --bootstrap-server localhost:9092 --topic test2 --from-beginning
first message
second message
third message
</code></pre>
                        </div></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schema-registry" role="tabpanel" aria-labelledby="schema-registry-tab">
                    <div class="container">
                        <div class="row"><div class="col-sm">
                            <iframe
                                    src="https://docs.google.com/presentation/d/e/2PACX-1vTFbDVVRKjp_7eUOzq0VqOva9OCPHMcJZiQqcdy8GeueszDvcsd1DUZsumz1_QTmHiPi65hcqGkIhSK/embed?start=false&loop=false&delayms=3000"
                                    frameborder="0" width="960" height="569" allow="fullscreen"
                                    mozallowfullscreen="true" webkitallowfullscreen="true" title="Kafka - session 2">
                            </iframe>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <p></p>
                            <h4>Tutorial on Avro, Schema Registry, and Kafka</h4>
                            <p>
                                The code in the tutorial can be found on
                                <a href="https://github.com/irajhedayati/mcit/tree/master/schema-registry-practices">GitHub</a>
                            </p>
                            <iframe
                                    width="960" height="569" src="https://www.youtube.com/embed/kKW_0HPCAOU"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen title="Kafka topics video tutorial"></iframe>
                            <p></p>
                        </div></div>
                        <div class="row"><div class="col-sm">
                            <p></p>
                            <h4>Register Avro schema from command line</h4>
                            <p>The Avro schema in JSON format </p>
                            <p>
                                <script src="https://gist.github.com/irajhedayati/df7fc8bf22b0c0cb5d2ca0ed936df77f.js"></script>
                            </p>
                        </div> </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

}
}